/* global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #eee;
}

main {
  margin: 60px auto;
  max-width: 500px;
}

h1 {
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid black;
}

/* question card */

article {
  margin: 32px auto;
  border: 3px solid black;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

button {
  padding: 10px;
  cursor: pointer;
}

/* card-tag */

ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  padding: 0;
}

li {
  background-color: slategray;
  padding: 5px 20px;
  border-radius: 14px;
}

/* bookmark */

.bookmark {
  position: absolute;
  top: -10px;
  right: 15px;
  padding: 0;
  border: none;
  color: white;
}

.bookmark__image {
  width: 20px;
  height: 20px;
  fill: currentColor;
  stroke: black;
}

.bookmark:hover {
  cursor: pointer;
}

.bookmark__image--active {
  color: black;
}

/* nav */

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  border-top: 2px solid black;
}

.navigation__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

.navigation__link:hover {
  background-color: slategray;
}

.navigation__icon {
  width: 100%;
  height: 100%;
  padding: 5px;
  fill: white;
  stroke: black;
}

/* profile page */

.profile {
  text-align: center;
}

.profile__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile__image {
  position: unset;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.counter-list {
  display: flex;
  justify-content: space-around;
}

.counter {
  display: flex;
  flex-direction: row;
  border-radius: 14px;
  border: 1px solid black;
  padding: 0;
  width: 100px;
  justify-content: space-evenly;
  background-color: #eee;
}

.counter__image {
  position: unset;
  width: 30px;
}

.profile__settings {
  width: 90%;
  margin: auto;
}

.profile__settings-darkmode-input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.profile__settings-darkmode-label {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  height: 40px;
}

.profile__settings-darkmode-label:before {
  width: 80px;
  height: 40px;
  background: #fddcd2;
  display: block;
  border-radius: 100px;
  position: absolute;
  content: '';
  right: 0;
}

.profile__settings-darkmode-label:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 40px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: right 0.3s;
}

.profile__settings-darkmode-input:checked
  + .profile__settings-darkmode-label:before {
  background: #ff4a11;
}

.profile__settings-darkmode-input:checked
  + .profile__settings-darkmode-label:after {
  right: 5px;
}
