.counter-list {
  display: flex;
  justify-content: space-around;
}

.counter {
  display: flex;
  flex-direction: row;
  border-radius: 14px;
  border: 1px solid black;
  padding: 0;
  width: 100px;
  justify-content: space-evenly;
  background-color: #eee;
}

.counter__image {
  position: unset;
  width: 30px;
}
